@import url('https://fonts.googleapis.com/css?family=Orbitron:400,900');

.game {
    margin: 5% auto;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.game .table {
    margin: auto;
    width: 70vh;
    height: 70vh;
}

.cell {
    width: 33%;
    height: 33%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    font-family: sans-serif;
}

.cell.up {
    border-bottom: 2px solid #297480;
}

.cell.bottom {
    border-top: 2px solid #297480;
}

.cell.right {
    border-left: 2px solid #297480;
}

.cell.left {
    border-right: 2px solid #297480;
}

.winner {
    background-color: #c8dbf9;
}

.cells-wrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.game .icons:hover {
    cursor: pointer;
}

.game .computer {
    color: slategrey;
}

.game .human {
    color: hotpink;
}

.game .robovoice {
    font-family: 'Orbitron', sans-serif;
    width: 18vh;
}

.robot {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.x-cell::after {
    content: 'X';
}

.o-cell::after {
    content: 'O';
}

.x-cursor:hover::after {
    content: 'X';
    color: #ffc9bf;
    font-size: 8vh;
}

.o-cursor:hover::after {
    content: 'O';
    color: #ffc9bf;
    font-size: 8vh;
}
