@import url('https://fonts.googleapis.com/css?family=Orbitron:400,900');

.game {
    margin: 40px auto;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.game .table {
    position: relative;
    margin: auto;
    width: 440px;
    height: 440px;
}

.cell {
    flex-basis: 140px;
    width: 140px;
    height: 140px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: sans-serif;
}

.cell:hover{
    background-color: #c8dbf9;
}

.cell.up {
    border-bottom: 2px solid #297480;
}

.cell.bottom {
    border-top: 2px solid #297480;
}

.cell.right {
    border-left: 2px solid #297480;
}

.cell.left {
    border-right: 2px solid #297480;
}

.winner {
    background-color: #c8dbf9;
}

.cells-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.game .buttons {
    width: 50px;
    margin: 1px;
    display: inline-flex;
    justify-content: center;
}

.game .icons:hover {
    cursor: pointer;
}

.game .computer {
    color: slategrey;
}

.game .human {
    color: hotpink;
}

.game .robovoice {
    font-family: 'Orbitron', sans-serif;
}

.robot {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
